/* CONTAINER */

body {
    font-family: "Arial", sans-serif;
    margin: 0 auto;
}

/* HERO */

/* FEATURES */

.features__section {
    background: #f1edef;
    display: flex;
    justify-content: center;
    margin: 0;
}

.features__container {
    padding: 0 20px;
    margin: auto;
    max-width: 1200px;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    padding: 0;
}

.features__list-element {
    box-sizing: border-box;
    max-width: 30%;
    padding-bottom: 20px;
    display: flex;
    flex: 1 0 200px;
    flex-direction: column;
    margin: 0 15px;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease-in-out;

}

.features__list-element:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.feature__list-logo {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    max-width: 180px;
}

.features__list-header {
    color: #F59D08;
    font-size: 1.2em;
    margin-bottom: 0;
}

/* SOCIAL MEDIA */

.social-media {
    background: #f1edef;
    display: flex;
    justify-content: center;
}

.social-media__container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 1200px;
    padding: 32px;
}

.social-media__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
}

.social-media__icon {
    width: 3rem;
    height: auto;
    border-radius: 25%;
}

.social-media__title {
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em;
    margin: 0;
    color: #005a1f;
}

.social-media__item a {
    text-decoration: none;
}

/* QUOTATION */

.quotation {
    display: flex;
    justify-content: center;
    padding: 2em;
    margin: 0;
    background: url(../img/under-features-background.jpg) center;
    background-size: cover;
}

.quotation__container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    flex-grow: 1;
    margin: 0;
    padding: 1em;
    height: auto;
}

.horizontal-logo {
    padding-left: 0.5em;
    width: 30vw;
    min-width: 250px;
    height: auto;
}

.quotation__paragraph {
    padding-top: 0.25em;
    padding-left: 0.25em;
    font-size: 1.5rem;
    margin: 0;
    color: #005A1F;
}

/* DESCRIPTIONS */

.descriptions {
    background: #f1edef;
    margin: 0;
}

.descriptions__container {
    display: flex;
    max-width: 1200;
}

/* HEADERS */

.features__header {
    color: #EF0405;
    text-align: center;
}

.features__list-description {
    justify-content: center;
    flex-grow: 1;
    align-self: center;
}

@media (max-width: 600px) {
    .features__list-element {
        max-width: 100%;
    }

    .feature__list-logo {
        width: 150px;
    }

    .quotation__paragraph {
        font-size: 1em;
    }
}