/* CONTAINER */

body {
    background: #f1edef;
    font-family: "Arial", sans-serif;
    margin: 0 auto;
}

/* HERO */

/* FEATURES */

.features__section {
    display: flex;
    justify-content: center;
    margin: 0;
}

.features__container {
    padding: 0 20px;
    margin: auto;
    max-width: 1200px;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    padding: 0;
}

.features__list-element {
    box-sizing: border-box;
    max-width: 30%;
    padding-bottom: 20px;
    display: flex;
    flex: 1 0 200px;
    flex-direction: column;
    margin: 0 15px;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease-in-out;

}

.features__list-element:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.features__list-header {
    color: #F59D08;
    font-size: 1.2em;
    margin-bottom: 0;
}

.feature__list-logo {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    max-width: 180px;
}

/* HEADERS */

.features__header {
    color: #EF0405;
    text-align: center;
}

.features__list-description {
    justify-content: center;
    flex-grow: 1;
    align-self: center;
}

@media (max-width: 600px) {
    .features__list-element {
        max-width: 100%;
    }

    .feature__list-logo {
        width: 150px;
    }
}